:host {
    --displayCars: none;
    --displayMap: none;
}


.dock{
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 0 1rem 0;
}

.filterButton{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: white 1px solid;
    margin-left: -.25rem;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.7px;
}

.listButton, .mapButton{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.7px;
}


@media only screen and (min-width: 1024px){
    .dock{
        display: none;
    }
}